input, select{
    border-color: #CDCDCD;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    height: 25px;
}

.chkPrioridade{
    display: inline;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

:checked{
    transition-duration: 1000ms;  
    width: 20px;
    height: 20px;
}

.grupoInput span{
    font-size: 16px;
}
#idDepartamento{
    max-width: 60px;
}
#departamento{
    max-width: 450px;
}
#dataRequisicao{
    max-width: 120px;
}
#idFuncionario{
    max-width: 60px;
}
#NomeFuncionario{
    max-width: 450px;
}
#cargo{
    max-width: 120px;
}
#categoriaMotivo{
    max-width: 130px;
}
#Motivo{
    max-width: 200px;
}
.grupo9{
    max-width: 250px;
}

.camposItens span{
    font-size: 16px;
}
.grupoProduto{
    max-width: 90px;
    margin-right: 5px;

}
.grupoProduto input{
    max-width: 90px;
}

.grupoProdutoDescricao{
    max-width: 300px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}
.grupoProdutoDescricao input{
    max-width: 300px;
}
.grupoEstoque{
    max-width: 60px;
    margin-right: 5px; 
}
.grupoEstoque input{
    max-width: 60px;
}
.grupoQuantidade{
    max-width: 80px;
}
.grupoQuantidade input{
    max-width: 80px;
}


.BtnInserirItens{
    background-color:#0300c5 ;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
    margin-top: 10px;

}
.BtnInserirItens button{
    background-color:#13007c ;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center ;
    cursor: pointer;
    color: #ffffff;
    font-size: 14px;
}

.BtnRemoverItens{
    background-color:#c50000 ;
    width: 80px;
    height: 25px;
    border-radius: 20px;
    border: none;
    color: #ffffff;
    font-size: 11px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#total{
    width: 120px;
    background-color: #CDCDCD;
    margin-left: 5px;
}
input{
    outline-color: #091fe2;
}
#total:focus{
    outline-color: #CDCDCD;
}

